<header>
    <img src="./../../../assets/img/computer.png" height="250" width="250" alt="me">
    <div class="desc">
        <p>I am a 39 year old aspiring junior Web Developer from Coarsegold, CA currently participating in the Geekwise Cohort paid internship. I've mostly focused on MEAN stack work, but I have experience with containerizing applications with Docker and deploying on AWS. I believe my greatest strength is learning new systems and techniques and integrating them in to my projects.</p>
    </div>
</header>