header {

    img {
        margin-left: 30px;
        margin-right: 30px;
    }

    div {
        line-height: 24px;
    }

    .computer-bg {
        background: url('./../../../assets/img/computer.png');
        height: 250px;
        min-width: 250px;
        margin-right: 25px;
        margin-left: 25px;
    }

    button {
        font-family: 'Press Start 2P', cursive;
        padding: 10px;
        border: 6px ridge;
        border-radius: 5px;
        color: #eee;
        background-color: #0f1070;
        transition: 0.5s all;

        &:hover {
            cursor: pointer;
        }
    }
}