<header>
    <div class="skill-list flex-container">
        <div *ngFor="let skill of xp" class="skills-card flex-container">
            <img [src]="'./../../../assets/img/skills/' + skill.filename" height="50" width="50" [alt]="skill.filename">
            <div>
                <div class="xp-frame">
                    <div class="xp-bar" [ngStyle]="{'width': skill.pct + '%'}"></div>
                </div>
                <p>Lv. {{ skill.level }}</p>
            </div>
        </div>
    </div>
    <div class="skill-desc">
        <h2 class="highlight">ANGULAR 6</h2>
        <p>Most of my projects, either for work, or my side projects are written using either angular 4, 5, or 6. I have also co-taught classes at Geekwise Academy instructing people getting in to Angular.</p>
    </div>
</header>