<header>
    <div class="skill-list flex-container">
        <div *ngFor="let skill of xp" class="skills-card flex-container" (click)="switchSkill(skill.title)">
            <img [src]="'./../../../assets/img/skills/' + skill.filename" height="50" width="50" [alt]="skill.filename">
            <div>
                <div class="xp-frame">
                    <div class="xp-bar" [ngStyle]="{'width': skill.pct + '%'}"></div>
                </div>
                <p>Lv. {{ skill.level }}</p>
            </div>
        </div>
    </div>
    <div class="skill-desc">
        <h2 class="highlight">{{ activeSkill.title | uppercase }}</h2>
        <p>{{ activeSkill.description }}</p>
    </div>
</header>