.opening {
    animation-name: opening;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

@keyframes opening {
    0% {
        filter: blur(1.5rem);
    }

    100% {
        filter: blur(0);
    }
}

.invert {
    filter: invert(1);
}

.enemy-box {
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
    transition: 1s all;
}

.player-side {
    position: relative;
}

h2 {
    margin: 0;
    position: absolute;
    bottom: 50px;
    left: 50%;
    text-shadow: 4px 4px #000;
    transform: translateX(-50%);
}

.hide {
    display: none;
}

.get-ready-to-bounce {
    opacity: 1;
    animation-duration: 0.45s;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, 0px);
    }

    25% {
        transform: translate(-50%, -50px);
    }

    50% {
        transform: translate(-50%, 0px);
    }

    75% {
        transform: translate(-50%, -25px);
    }

    100% {
        transform: translate(-50%, 0px);
    }
}

.skill-animatee {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    opacity: 0;
}

.get-smacked-by-a-skill {
    opacity: 1;
    animation-duration: 2s;
    animation-name: skill-use;
}

@keyframes skill-use {
    0% {
        height: 20px;
        width: 20px;
    }

    10% {
        height: 50px;
        width: 50px;
        transform: translate(0, -100px);
    }

    20% {
        height: 50px;
        width: 50px;
        transform: translate(0, -100px);
    }

    30% {
        height: 50px;
        width: 50px;
        transform: translate(-500px, 0) rotate(180deg);
    }

    51% {
        height: 50px;
        width: 50px;
        transform: translate(-500px, 0), rotate(180deg);
        opacity: 1;
    }
    
    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translate(-500px, 0), rotate(180deg);
    }
}

.command-box {
    width: 200px;
    height: 50px;
    background-color: #0f1070;
    border: 6px ridge;
    border-radius: 5px;
    display: block;
    position: absolute;
    left: 20px;
}

.heal-text {
    color: #44cc44;
}

.enemy-death {
    background-color: #000088;
    opacity: 0;
}

.victory-box {
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #000088;
    transform: translate(-15%, 0);
    border: 10px ridge #eee;
    padding: 10px;
    border-radius: 10px;
}