<main>
  <aside>
      <p class="">{{ enemy?.name }}</p>
  </aside>
  <section class="flex-container">
      <div class="arrow-column">
        <div *ngFor="let navItem of navItems" id="opt-{{navItem.index}}" class="menu-checkbox option-{{navItem.index}}"></div>
      </div>
      <div class="name-column">
        <a *ngFor="let navItem of navItems" routerLinkActive="highlight" routerLink="{{ navItem.route }}">
            <p>{{ navItem.title }}</p>
        </a>
      </div>
      
  </section>
  <div class="info">
      <h2>J.R. RUGGIERO</h2>
      <p>HP: {{ player?.currentHP }} / {{ player?.maxHP }}</p>
      <p>MP: {{ player?.currentMP }} / {{ player?.maxMP }}</p>
  </div>
</main>