<main>
  <aside>
      <p class="">Web Developer</p>
  </aside>
  <section>
      <a routerLink="portfolio"><p class="option0 highlight">Portfolio</p></a> 
      <a routerLink="skills"><p class="option1">Skills</p></a>
      <a routerLink="about"><p class="option1">About</p></a>
      <a href="contact.html"><p class="option1">Contact</p></a>
      <a href="other.html"><p class="option4">Other</p></a>
      <a routerLink="home"><p class="option5">Main</p></a> 
  </section>
  <div class="info">
      <h2>J.R. RUGGIERO</h2>
      <p>HP: 780 / 790</p>
      <p>MP: 85 / 90</p>
  </div>
</main>