.arrow-column {
    width: 25px;
    margin-top: 7px;
    margin-left: 10px;
}

.menu-checkbox {
    // border: 1px solid #eee;
    font-size: 18px;
    height: 18px;
    width: 18px;
    margin-bottom: 4px;
}

.name-column {
    margin-left: 0px;
}